<div class="post">

  <div class="title-author">
    <h1>{{post.volumeInfo.title}}</h1>
    <p>{{post.volumeInfo.authors}}</p>
  </div>

  <div class="btn-and-xzkaknazvat">

    <div>
      <button
        [routerLink]="['/post-page', post.id]"
        class="btn btn-open"
      >Открыть</button>
      <button
        *ngIf="flag"
        (click)="setFavorites()"
        class="btn btn-favorites"
      >В избранное</button>
    </div>
      <button
        *ngIf="icon"
        (click)="deleteBook()"
        class="btn-fav"
      >
        <svg class="svg"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px"
          viewBox="0 0 472.615 472.615"
          style="enable-background:new 0 0 472.615 472.615;"
          xml:space="preserve"
      >
		    <polygon points="236.307,0 89.307,0 89.307,236.308 89.307,472.615 236.307,315.077 383.308,472.615 383.308,236.308 383.308,0"/>
      </svg>

    </button>

  </div>

</div>

