<nav class="navbar">
  <div class="name-website">
    <h1>Google Books</h1>
  </div>


  <div class="nav-btn">
    <button
      [routerLink]="['/']"
      class="btn-home-favorites"
    >Главная</button>
    <button
      [routerLink]="['/favorites']"
      class="btn-home-favorites"
    >Избранное</button>
  </div>
</nav>

<div class="line-center">
  <input type="search-line" placeholder="Поиск..." [(ngModel)]="searchText">
</div>

<app-post
  *ngFor="let p of posts | searchBook:searchText"
  [post]="p"
  [flag]="false"
  [icon]="true"
  (onDelete)="delBook()"
>
</app-post>

